bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
*.DotSettings.user
.vs/
!src/Taurus/configs
src/Taurus/*
*.pubxml
*.pubxml.user
src/RobotFramework/log.html
src/RobotFramework/output.xml
src/RobotFramework/report.html